@page "/counter"
@implements IDisposable

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>@AppStateProvider.AppState.MyProperty</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter]
    public CascadingAppStateProvider AppStateProvider { get; set; }

    private int currentCount = 0;


    protected override void OnInitialized()
    {
        Console.WriteLine($"{this.GetType().Name} with hash {this.GetHashCode()} created.");
        AppStateProvider.AppState.StateChanged += async (source, property) => await StateChange(source, property);
    }

    private async Task StateChange(object source, string property)
    {
        if (!ReferenceEquals(source, this) && this.GetType().Name != source.GetType().Name && nameof(AppState.MyProperty) == property)
        {
            Console.WriteLine($"--> source {source} with hash {source.GetHashCode()}");
            Console.WriteLine($"      this {this} with hash {this.GetHashCode()}");
            Console.WriteLine($"{source.GetType().Name} has updated. Hash {source.GetHashCode()}. Done by {this.GetHashCode()}");
            var oldValue = AppStateProvider.AppState.MyProperty;
            AppStateProvider.AppState.UpdateMyProperty(this, string.Concat(oldValue, $" touched by {this.GetHashCode()}"));
        }
    }

    private void IncrementCount()
    {
        AppStateProvider.AppState.UpdateMyProperty(this, $"updated by counter component with hash {this.GetHashCode()}");
        currentCount++;
    }

    void IDisposable.Dispose()
    {
        Console.WriteLine($"dispose {this.GetHashCode()}");
        AppStateProvider.AppState.StateChanged -= async (source, property) => await StateChange(source, property);
    }
}
